.login-form {
  max-width: 400px;
  margin-top: 70px;
  margin-left: 65px;
  padding: 20px;
  background-color: #fff;
}
.input-group-icon {
  position: relative;
  color: #71808f;
}

.input-group-icon .form-control {
  padding-left: 33px;
}

.input-group-icon .input-icon {
  position: absolute;
  left: 0;
  top: 0;
  height: 33px;
  line-height: 40px;
  width: 34px;
  text-align: center;
}

.input-group-icon.right .input-icon {
  right: 0;
  left: auto;
}

.input-group-icon.right .form-control {
  padding-left: 12px;
  padding-right: 33px;
}
.main-panel {
  display: block;
  width: 82%;
  margin-top: 70px;
  margin-right: auto;
  margin-left: auto;
  background-color: #eceff1;
}
